<!-- CABEÇALHO PRINCIPAL -->
<%- include('partials/header') %>

<!-- CONTEÚDO DO INDEX -->
<main>
    <h1>Está pagina não existe</h1>
    <a href="/home">clique aqui para ir para Home</a>
    <img src="https://php.com.br/admin/app/images/posts/66-teste.jpg" alt="">
</main>

<!-- RODAPE DE TODAS AS PÁGINAS -->
<%- include('partials/footer') %>

    