<!-- Cabeçalho principal  -->
<%- include('partials/header') %>

<!-- CONTEÚDO DO INDEX -->
<main>
    <h1>Lista de usuarios</h1>
</main>

<!-- Rodape de todas as paginas -->
<%- include('partials/footer') %>